* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(Background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman';
}

.col-md-5 {
    background: rgba(0,0,0,0.5);
    margin-top: 200px;
}

.heading {
    background: transparent;
    box-sizing: border-box;
    margin-top: 120px;
}

h1 {
    color: rgb(110, 13, 2);
    text-align: center;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 1px;
    padding: 30px 0px;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group-addon {
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    color: gray;
}

.form-control {
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    padding: 15px;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;
}

.form-control:focus {
    background: none;
    color: white;
}

.btn-default {
    border-radius: 0px;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#error-username {
    font-size: 18px;
    color: #ff3333;
}

#error-password {
    font-size: 18px;
    color: #ff3333;
}